<h1 class="headline">Welcome to {{companyName}}, {{firstName}}</h1>
<p class="subheadline">Your account is ready. You can now start using the platform.</p>

<p class="text">Hi {{firstName}},</p>
<p class="text">Thanks for signing up. Your account has been created successfully and you can now browse, order, and manage deliveries from one place.</p>

<p class="center" style="margin: 28px 0;">
    <a href="{{appUrl}}" class="button">Open {{companyName}}</a>
</p>

<ul class="list">
    <li class="list-item">
        <span class="list-title">Marketplace access</span>
        Browse stores and products from multiple vendors.
    </li>
    <li class="list-item">
        <span class="list-title">Faster delivery flow</span>
        Track your order and service updates in real time.
    </li>
    <li class="list-item">
        <span class="list-title">Secure checkout</span>
        Pay with supported payment methods and manage future purchases more easily.
    </li>
</ul>

<div class="notice">
    Need help getting started? Reach out to <a class="link" href="mailto:{{supportEmail}}">{{supportEmail}}</a>.
</div>
